$deepPeriwinkle: #6274FF;
$lightPeriwinkle: #A9B3FF;
$coldGray: #EAEDFF;
$coldWhite: #F5F6FF;
$warmGray: #F7E7CB;
$warmWhite: #FFFBF4;
$golden: #FFC764;
$darkGray: #545454;
$lighterGray: #C0C0C0;
$coral: #ff8181;
$feudRed: #FF4747;