$deepPeriwinkle: #6274FF;
$lightPeriwinkle: #A9B3FF;
$lighterPeriwinkle: #d2d7ff;
$coldGray: #EAEDFF;
$coldWhite: #F5F6FF;
$warmGray: #F7E7CB;
$warmWhite: #FFFBF4;
$golden: #FFC764;
$darkGray: #545454;
$lighterGray: #C0C0C0;
$lightCoral: #ffdddd;
$coral: #ff8181;
$feudRed: #FF4747;

// Darkmode
$backgroundDark: #0015b6;
$backgroundDarker: #0f143d;
