@import "variables.scss";
@import "mixins.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --base-color: #ffdddd;
    --base-variant: #F5F6FF;
    --text-color: #545454;
    --secondary-text: #A9B3FF;
    --lightererperiwinkle: #dee1fb;
    --primary-color: #6274FF;
    --accent-color: #FF4747;
    --coral: #ff8181;
}

.darkmode {
    --base-color: #0015b6;
    --base-variant: #0f143d;
    --text-color: #ffffff;
    --secondary-text: #A9B3FF;
    --lightererperiwinkle: #0f143d;
    --primary-color: #6274FF;
    --accent-color: #FF4747;
    --coral:  #ff8181;
}

#themeToggleBtn svg{
    fill: var(--accent-color);
}
#themeToggleBtn svg:last-child {
    display: none;
}
.darkmode #themeToggleBtn svg:first-child{
    display: none;
}
.darkmode #themeToggleBtn svg:last-child {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--base-color);
    color: var(--text-color);
    .outer-wrapper {
        background-color: var(--base-color);
        padding: 20px;
        padding-top: 20px;
        min-height: calc(100vh - 70px);
        display:flex;
        flex-direction: column;
        
        .header-index {
            background-color: var(--base-variant);
            color: var(--text-color);
            padding: 20px;
            margin-top: 10px;
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.06);
            h1 {
                a #fantasy {
                    @include fantasyFont;
                    text-decoration: none; 
                    display: inline-block;
                    transition: transform 0.5s ease;
                    color: var(--primary-color)
                }
                a:hover #fantasy {
                    text-decoration: none; 
                    display: inline-block;
                     transform: scale(1.1);
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px;

                #the {
                    @include interFont;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: var(--coral)
                }
                
                #fantastic {
                    @include fantasticFeudFont;
                    text-transform: uppercase;
                    font-size: 2rem;
                    font-weight: 500;
                    color: var(--secondary-text);
                    border-bottom: 1px dashed var(--accent-color);
                }
                #feud {
                    @include fantasticFeudFont;
                    text-transform: uppercase;
                    color: var(--accent-color);
                }
            }
            .catchphrase {
                display: flex;
                justify-content: center; 
                align-items: center; 
                height: 100%; 
                width: 100%; 
                #catchphrase {
                    @include poppins;
                    text-transform: uppercase;
                    font-weight: 600;
                    text-align: center;
                    width: 100%;
                    font-size: 0.9rem;
                    color: var(--secondary-text);
                }
            }
            #themeToggleBtn {
                margin-top: 15px;
                background-color: $lighterPeriwinkle; 
                color: white;
                @include poppins;
                font-weight: 500;
                font-size: 12px;
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                border: none;
                border-radius: 50%; 
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.5s ease;
                transform: scale(1.1); 
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.06);
            } #themeToggleBtn:hover {
                background-color: $lightPeriwinkle;
                outline: none;
                transform: scale(1.2);
            }
            

    }
    .wrapper-body {
        min-height: 30vh;
        display: flex;
        padding: 30px;
        justify-content: center;
        background-color: var(--base-variant);
        margin: 30px 0;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.06);
        #ctaBtn {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            height: 60px;
            width: 200px;
            background-color: #7f8eff; 
            color: white;
            @include poppins;
            font-size: 14px;
            padding: 12px 20px;
            border: none;
            border-radius: 25px; 
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.5s ease;
            transform: scale(1.1); 
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.06);
        }
        #ctaBtn:hover {
            background-color: $deepPeriwinkle;
            outline: none;
            transform: scale(1.2);
            
        }
    }
}
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    width: 100vw;
    height: 70px;
    background-color: $deepPeriwinkle;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer-wrapper {
        margin: 5px 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        border-top: 1px dashed $lighterPeriwinkle;
        border-bottom: 1px dashed $lighterPeriwinkle;

        h2.companyName {
            @include interFont;
            text-transform: uppercase;
            font-size: 1rem;
            color: $lighterPeriwinkle;
            
        }
        p.copyright {
            @include interFont;
            text-transform: uppercase;
            font-size: 0.7rem;
            color: $lighterPeriwinkle;
        }
    }
}

.quiz-body {
    .outer-wrapper{
         .header-index{

         }
         .wrapper-body{
            padding: 0;
            #form-quiz {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 20px;
                gap: 30px;
                h2 {
                    @include fantasyFont;
                    color: $deepPeriwinkle;
                    font-size: 2rem;
                    border-bottom: 1px dashed red;
                }
                fieldset {
                    width: 100%;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 20px;
                    background-color: $lightererPeriwinkle;
                    border: none;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.229);
                    h3 {
                        @include poppins;
                        font-size: 1rem;
                        font-weight: 600;
                        color: $deepPeriwinkle;
                        // text-transform: uppercase;
                        text-align: center;
                        margin-bottom: 30px;
                    }
                    input[type="checkbox"],
                    input[type="radio"] {
                        position: absolute;
                        opacity: 0;
                    }
                    label {
                        @include poppins;
                        color: $feudRed;
                        font-weight: 400;
                        width: 55%;
                        text-align: center;
                        display: block;
                        padding: 10px;
                        margin: 5px 0;
                        border: 1px solid #ccc;
                        border-radius: 20px;
                        background-color: #f9f9f9;
                        cursor: pointer;
                        transition: background-color 0.3s ease, border-color 0.3s ease;
                    }
                    label:hover {
                        background-color: $lightCoral;
                    }

                    /* Highlight checked inputs via labels */
                    input[type="checkbox"]:checked + label,
                    input[type="radio"]:checked + label {
                        background-color: $lightCoral; /* Highlight checked option */
                        border-color: $feudRed; /* Optional: Change border color */
                        color: $feudRed; /* Optional: Change text color */
                        font-weight: bold;
                    }
                }
                .button-div {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    
                    #submit, #nextBtn {
                        background-color: var(--coral); 
                        color: var(--base-variant);
                        @include poppins;
                        font-weight: 500;
                        font-size: 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 5px 10px;
                        border: none;
                        border-radius: 15px; 
                        cursor: pointer;
                        transition: background-color 0.3s ease, transform 0.5s ease;
                        transform: scale(1.1); 
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.06);
                    }
                }
            }
         }
    }
}


