* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-color: #ffdddd;
  --base-variant: #F5F6FF;
  --text-color: #545454;
  --secondary-text: #A9B3FF;
  --lightererperiwinkle: #dee1fb;
  --primary-color: #6274FF;
  --accent-color: #FF4747;
  --coral: #ff8181;
}

.darkmode {
  --base-color: #0015b6;
  --base-variant: #0f143d;
  --text-color: #ffffff;
  --secondary-text: #A9B3FF;
  --lightererperiwinkle: #0f143d;
  --primary-color: #6274FF;
  --accent-color: #FF4747;
  --coral: #ff8181;
}

#themeToggleBtn svg {
  fill: var(--accent-color);
}

#themeToggleBtn svg:last-child {
  display: none;
}

.darkmode #themeToggleBtn svg:first-child {
  display: none;
}

.darkmode #themeToggleBtn svg:last-child {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--base-color);
  color: var(--text-color);
}
body .outer-wrapper {
  background-color: var(--base-color);
  padding: 20px;
  padding-top: 20px;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
}
body .outer-wrapper .header-index {
  background-color: var(--base-variant);
  color: var(--text-color);
  padding: 20px;
  margin-top: 10px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.06);
}
body .outer-wrapper .header-index h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
body .outer-wrapper .header-index h1 a #fantasy {
  font-family: "Jacquard 24", system-ui;
  font-weight: 200;
  font-style: normal;
  font-size: 4rem;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.5s ease;
  color: var(--primary-color);
}
body .outer-wrapper .header-index h1 a:hover #fantasy {
  text-decoration: none;
  display: inline-block;
  transform: scale(1.1);
}
body .outer-wrapper .header-index h1 #the {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--coral);
}
body .outer-wrapper .header-index h1 #fantastic {
  font-family: "Squada One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  color: var(--secondary-text);
  border-bottom: 1px dashed var(--accent-color);
}
body .outer-wrapper .header-index h1 #feud {
  font-family: "Squada One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--accent-color);
}
body .outer-wrapper .header-index .catchphrase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
body .outer-wrapper .header-index .catchphrase #catchphrase {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  width: 100%;
  font-size: 0.9rem;
  color: var(--secondary-text);
}
body .outer-wrapper .header-index #themeToggleBtn {
  margin-top: 15px;
  background-color: #d2d7ff;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.5s ease;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.06);
}
body .outer-wrapper .header-index #themeToggleBtn:hover {
  background-color: #A9B3FF;
  outline: none;
  transform: scale(1.2);
}
body .outer-wrapper .wrapper-body {
  min-height: 30vh;
  display: flex;
  padding: 30px;
  justify-content: center;
  background-color: var(--base-variant);
  margin: 30px 0;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.06);
}
body .outer-wrapper .wrapper-body #ctaBtn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 60px;
  width: 200px;
  background-color: #7f8eff;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.5s ease;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.06);
}
body .outer-wrapper .wrapper-body #ctaBtn:hover {
  background-color: #6274FF;
  outline: none;
  transform: scale(1.2);
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  margin: 0;
  width: 100vw;
  height: 70px;
  background-color: #6274FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer-wrapper {
  margin: 5px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-top: 1px dashed #d2d7ff;
  border-bottom: 1px dashed #d2d7ff;
}
footer .footer-wrapper h2.companyName {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1rem;
  color: #d2d7ff;
}
footer .footer-wrapper p.copyright {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #d2d7ff;
}

.quiz-body .outer-wrapper .wrapper-body {
  padding: 0;
}
.quiz-body .outer-wrapper .wrapper-body #form-quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 30px;
}
.quiz-body .outer-wrapper .wrapper-body #form-quiz h2 {
  font-family: "Jacquard 24", system-ui;
  font-weight: 200;
  font-style: normal;
  font-size: 4rem;
  color: #6274FF;
  font-size: 2rem;
  border-bottom: 1px dashed red;
}
.quiz-body .outer-wrapper .wrapper-body #form-quiz fieldset {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background-color: #dee1fb;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.229);
  /* Highlight checked inputs via labels */
}
.quiz-body .outer-wrapper .wrapper-body #form-quiz fieldset h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #6274FF;
  text-align: center;
  margin-bottom: 30px;
}
.quiz-body .outer-wrapper .wrapper-body #form-quiz fieldset input[type=checkbox],
.quiz-body .outer-wrapper .wrapper-body #form-quiz fieldset input[type=radio] {
  position: absolute;
  opacity: 0;
}
.quiz-body .outer-wrapper .wrapper-body #form-quiz fieldset label {
  font-family: "Poppins", sans-serif;
  color: #FF4747;
  font-weight: 400;
  width: 55%;
  text-align: center;
  display: block;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.quiz-body .outer-wrapper .wrapper-body #form-quiz fieldset label:hover {
  background-color: #ffdddd;
}
.quiz-body .outer-wrapper .wrapper-body #form-quiz fieldset input[type=checkbox]:checked + label,
.quiz-body .outer-wrapper .wrapper-body #form-quiz fieldset input[type=radio]:checked + label {
  background-color: #ffdddd; /* Highlight checked option */
  border-color: #FF4747; /* Optional: Change border color */
  color: #FF4747; /* Optional: Change text color */
  font-weight: bold;
}
.quiz-body .outer-wrapper .wrapper-body #form-quiz .button-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.quiz-body .outer-wrapper .wrapper-body #form-quiz .button-div #submit, .quiz-body .outer-wrapper .wrapper-body #form-quiz .button-div #nextBtn {
  background-color: var(--coral);
  color: var(--base-variant);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.5s ease;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.06);
}/*# sourceMappingURL=style.css.map */